[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=NewYearsBotGTK
GenericName=NYE IRC Party Bot
Comment=Have fun on IRC
Exec=newyearsbot-gui
Icon=newyearsbot
Terminal=false
Type=Application
Categories=Internet;Network;GTK;
X-Desktop-File-Install-Version=0.15
